<a href="{{ button.url }}" class="cg-button {{ button.class }}"
   {% if button.style %} style="{{ button.style }}" {% endif %}>
    {% if button.img %}
        {% include 'components/img.twig' with {
            'img': button.img
        } %}
    {% endif %}
    <span class="cg-button__text {{ button.icon }}">{{ button.title }}</span>
</a>
